<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <appSettings>
    <add key="DiskSweeper.Highlights.P0.SizeFloor" value="1073741824" />
    <add key="DiskSweeper.Highlights.P1.SizeFloor" value="134217728" />
  </appSettings>
</configuration>
